.Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  padding: .5rem 0;
  z-index: 11111;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  &_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.75rem;
    border-radius: 50%;
    margin-left: .5rem;
    cursor: pointer;
  }
  &_Icon:hover {
    background-color: #e8e9ea;
  }
  &_Brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 12rem;
    color: #363d47;
    & div {
      font-size: 1rem;
      padding: 5px 16px 5px 8px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  &_Search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    background-color: #eef2f8;
    border-radius: 5px;
    overflow: hidden;
    & input {
      font-size: 1rem;
      border: none;
      width: 11.75rem;
      background-color: transparent;
      padding: 12px 0 12px 16px;
    }
    & input:focus {
      outline: none;
    }
    & input::placeholder {
      font-weight: 400;
      color: rgba(167, 174, 184, 0.6);
    }

    & button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 12px 16px;
      color: rgba(140, 143, 147, 1);
    }
  }
  &_Search:focus-within {
    outline: 3px solid rgba(29, 161, 245, 0.4);
  }
  &_Nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    color: #8d8d8d;
    &_Item {
      margin-right: 1rem;
      font-size: 0.875rem;
      cursor: pointer;
      &_Document {
        position: relative;
        cursor: pointer;
        &_Content {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 44px;
          &_Text {
            margin-right: 0.375rem;
          }
          &_Icon {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s;
          }
          &_Icon.rotate {
            transform: rotate(90deg);
          }
        }

        &_Popup {
          position: absolute;
          right: 0;
          top: 55px;
          animation: fade-in .3s linear;  
          background-color: white;
          border-radius: 5px;
          box-shadow: 0.5px 0.5px 1.5px 0.5px rgba(0, 0, 0, 0.4);
          &_Container:hover {
            background-color: #e0e5ec;
          }
          &_Container {
            display: flex;
            padding: 1rem;
            width: 345px;
            &_Icon {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              height: 2.5rem;
              width: 2.5rem;
              line-height: 2.5rem;
              border-radius: 50%;
              background-color: #dae7fb;
              margin-right: 1.5rem;
            }
            &_Content {
              display: flex;
              justify-content: center;
              align-items: center;
              &_Text {
                letter-spacing: 1px;
                font-weight: 400;
                line-height: 1.125rem;
                .Title {
                  font-size: .8125rem;
                }

                .Subtitle {
                  font-size: .9375rem;
                  color: #2f3035;
                }
              }
            }
          }
        }
      }
      &_Icon{
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
          width: 2.75rem;
          height: 2.75rem;
          border-radius: 50%;
        }
      }
      &_Icon:focus {
        border: 4px solid #ccc;
      }
      &_Icon:hover {
        background-color: #e8e9ea;
      }
    }
    .Alert,
    .Message{
      position: relative;
      &_Popup:hover {
        overflow-y: scroll;
      }
      &_Popup::-webkit-scrollbar {
        width: 0.75rem;
      }
      &_Popup::-webkit-scrollbar-thumb {
        border-radius: 10rem;
        border-width: 0.2rem;
        border-style: solid;
        background-clip: padding-box;
        background-color: rgba(33, 40, 50, 0.2);
        border-color: transparent;
      }
      &_Popup::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
      }
      &_Popup::-webkit-scrollbar-corner {
        background-color: transparent;
      }
      &_Popup::-webkit-scrollbar-track {
        background: inherit;
      }
      &_Popup {
        position: absolute;
        top: 55px;
        right: 0;
        min-width: 300px;
        max-height: 330px;
        overflow: hidden;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0.5px 0.5px 1.5px 0.5px rgba(0, 0, 0, 0.4);
        animation: fade-in .3s linear;
        &_Header {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 1rem;
          font-size: .8125rem;
          color: white;
          background-color: #0061f2;
          font-weight: 500;
          & div:first-child {
            margin-right: .25rem;
          }
        }
        &_Container {
          &_Item {
            display: flex;
            align-items: center;
            padding: 1rem;
            cursor: pointer;
            border-bottom: 1px solid #e0e5ec;
            &_Image {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              height: 2.5rem;
              min-width: 2.5rem;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 16px;
              & img {
                width: 100%;
                height: 100%;
              }
            }
            &_Icon {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              height: 2.5rem;
              min-width: 2.5rem;
              line-height: 2.5rem;
              border-radius: 50%;
              margin-right: 16px;
              color: white;
            }

            &_Icon.Activity {
              background-color: #f4a100;
            }
            &_Icon.Barchart {
              background-color: #00cfd5;
            }
            &_Icon.Danger {
              background-color: #e81500;
            }
            &_Icon.Request {
              background-color: #00ac69;
            }
            &_Content {
              letter-spacing: 1px;
              font-weight: 400;
              line-height: 1.125rem;
              .Date {
                color: $color-gray;
                font-size: .6875rem;
              }
              .Message {
                display: block;
                font-size: .875rem;
                color: #2f3035;
                white-space: nowrap;
                max-width: 13rem;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .Name_Time {
                color: $color-gray;
                font-size: .7rem;
                display: flex;
                align-items:center;
              }
            }
          }
          &_ViewAll {
            padding: .75rem 1rem;
            font-size: .8125rem;
            display: flex;
            color: $color-gray;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
          &_ViewAll:hover,
          &_Item:hover {
            background-color: #e0e5ec;
          }
        }
      }
    }
    .Profile {
      position: relative;
      &_Popup {
        position: absolute;
        top: 55px;
        right: 0;
        min-width: 250px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0.5px 0.5px 1.5px 0.5px rgba(0, 0, 0, 0.4);
        animation: fade-in .3s linear;
        padding: .5rem  0;
        &_Header {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          line-height: 1.2;
          padding: 8px 16px;
          &_Img {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            & img {
              width: 100%;
              border-radius: 50%;
              height: 100%;
            }
          }
          &_Content {
            padding: 8px 16px 8px 0;
            &_Name {
              font-size: .875rem;
              color: #212832;
            }
            &_Email {
              font-size: .75rem;
              color: #69707a;
            }
          }
        }
        &_Divided {
          height: 1px;
          width: 100%;
          border: 1px solid #eaeaea;
          margin: 6px 0;
        }
        &_Content {
          padding: 8px 16px;
          font-weight: 400;
          white-space: nowrap;
          color: black;
          font-size: 1rem;
          &_Account {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 4px 8px;
            font-size: 14px;
            .icon {
              display: flex;
              align-items: center;
              margin-right: 4px;
            }
          }
          &_Logout {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 14px;
            padding: 4px 8px;
            .icon {
              display: flex;
              align-items: center;
              margin-right: 4px;
            }
          }
        }
      }
    }
    &_Item:last-child {
      margin-right: 1.5rem;
    }
  }
}