.Sidebar {
  position: fixed;
  width: 240px;
  height: 100%;
  background-color: #ffffff;
  transition: .3s;
  z-index: 11;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 3.75rem;
  &_Container {
    flex: 1;
    overflow: hidden;
    &_List:hover {
      overflow-y: scroll;
    }
    &_List::-webkit-scrollbar {
      width: 0.75rem;
    }
    &_List::-webkit-scrollbar-thumb {
      border-radius: 10rem;
      border-width: 0.2rem;
      border-style: solid;
      background-clip: padding-box;
      background-color: rgba(33, 40, 50, 0.2);
      border-color: transparent;
    }
    &_List::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }
    &_List::-webkit-scrollbar-corner {
      background-color: transparent;
    }
    &_List::-webkit-scrollbar-track {
      background: inherit;
    }

    &_List {
      height: 100%;
      overflow-y: hidden;
      overflow-x: hidden;
      transition: .3s;
      &_Item {
        font-size: 14px;
        &_Heading {
          color: #a7aeb8;
          padding: 1.75rem 1rem 0.75rem;
          font-size: 0.7rem;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.05em;
        }

        &_Title {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 12px 16px;
          font-size: 14px;
          cursor: pointer;
          .Icon {
            padding-right: 8px;
            margin-right: 8px;
            color: #a7aeb8;
          }
          .Icon:last-child {
            color: #a7aeb8 ;
            margin-left: auto;
          }
        }
        &_Title:hover {
          color: #1da1f5;
          .Icon {
            color: #a7aeb8 ;
          }
        }
        &_Title.active {
          .Icon:first-child {
            color: $primary ;
          }
          color: $primary;
        }
        .Submenu {
          position: relative;
          animation: all .3s linear;
          transition: .3s;
          border-left: 1px solid #dadada;
          padding-left: 8px;
          margin-left: 24px;
          background-color: white;
          &_Item {
            display: flex;
            padding: 12px 32px 12px 16px;
            cursor: pointer;
            white-space: wrap;
            align-items: center;

            .Icon {
              color: #a7aeb8 ;
              margin-left: auto;
            }
          }
          &_Item:hover {
            color: $primary;
          }
        }
        .Submenu.hidden {
          height: 0;
          overflow: hidden;
          transition: .3s;
        }
      }
    }

  }
  &_Footer {
    width: 100%;
    height: 5rem;
    background-color: #f4f4f5;
    display: flex;
    align-items: center;
    padding: 20px;

    &_Content {
      white-space: nowrap;
      line-height: 20px;

      &_Subtitle {
        font-size: 12px;
        color: #737a83;
      }

      &_Title {
        font-size: 14px;
      }
    }
  }
}
.Sidebar.hidden {
  transform: translateX(-15rem);
  transition: .3s;
}
