.Dashboard.Full {
  padding: 3.75rem 0 0 0!important;
  .Dashboard_Heading_Content {
    margin: 0 3.75rem !important;
  }
  .Dashboard_Chart,
  .Dashboard_Widget,
  .Dashboard_Card {
    padding: 0 3.75rem !important;
  }
}
.Dashboard {
  position: relative;
  flex: 1;
  padding-left: 245px;
  transition: .3s;
  padding-top: 3.75rem;
  &_Heading {
    width: 100%;
    height: 260px;
    background-color: #0061f2;
    background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%) !important;

    &_Content {
      padding: 24px 0 48px;
      margin: 0 24px;
      display: flex;
      justify-content: space-between;

      &_Left {

        &_Title {
          display: flex;
          align-items: center;
          font-size: 36px;
          margin-top: 24px;
          color: white;
          letter-spacing: 2px;

          .icon {
            margin-right: 8px;
          }
        }

        &_Subtitle {
          color: #86a4f3;
          margin-top: 4px;
          font-size: 18px;
        }
      }

      &_Right {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .Calendar {
          display: flex;
          align-items: center;
          width: 260px;
          border-radius: 5px;
          background-color: #eef2f8;
          margin-top: 2.5rem;
          &_Icon {
            padding: 14px 18px;
          }
          &_Input {
            text-align: center;
            border: none;
            width: 100%;
            color: $color-gray;
            background-color: transparent;
            font-size: .875rem;
            &:focus {
              outline: none;
            }
          }
        }
        .Calendar_Popup {
          position: absolute;
          height: 255px;
          width: 600px;
          box-shadow: 1px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.4);
          right: 0;
          background-color: white;
          z-index: 111111111;
          top: 90px;
          border-radius: 5px;
          transition: .3s;
          &_Container {
            display: flex;
            width: 100%;
            height: 100%;
            &_Left {
              width: 110px;
              padding: 15px 5px 5px 5px;
              border-right: 1px solid rgba(129, 129, 129, .5);
              & button {
                display: block;
                width: 100%;
                background-color: transparent;
                border: none;
                font-size: 15px;
                margin: 2px 0;
                text-align: left;
                height: 30px;
                padding: 5px;
                cursor: pointer;
                &:hover {
                  color: rgba(0,0,0,0.5);
                }
              }
            }

            &_Right {
              flex: 1;
            }
          }
        }
      }
    }
  }

  &_Widget {
    width: 100%;
    padding: 0 1.5rem;
    margin-top: -6rem;
    &_Container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      &_Item {
        background-color: white;
        border-radius: 5px;
        margin-bottom: 1.5rem;
        .DB_Welcome {
          padding: 40px;
          text-align: center;
          &_Container {

            &_Header {
              padding: 0 12px;
              line-height: 1.5;
              margin-bottom: 1.5rem;
              &_Heading {
                font-size: 1.5rem;
                margin-bottom: 8px;
                font-weight: 500;
                color: $primary;
              }

              &_Body {
                font-size: 16px;
              }
            }
            &_Thumbnail {
              width: 100%;

              & img {
                width: 100%;
              }
            }
          }
        }

        .DB_Recent {
          .link-bold {
            font-weight: 500;
            color: black;
            opacity: 1;
            text-decoration: none;
            display: inline;
            cursor: pointer;
          }
          .link-bold:hover {
            text-decoration: underline;
          }
          &_Header {
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 9px 1.375rem;
            border-bottom: 1px solid rgba(129, 129, 129, .5);
            &_Title {
              font-weight: 500;
              color: $primary;
            }
            &_Btn:hover {
              background-color: #eef2f8;
            }
            &_Btn {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              background-color: transparent;
              border: none;
              cursor: pointer;
              position: relative;
              &_Popup {
                position: absolute;
                right: 0;
                top: 55px;
                width: 160px;
                border-radius: 5px;
                text-align: left;
                background-color: white;
                box-shadow: 1.5px 1.5px 3.5px -0.5px  rgba(0, 0, 0, 0.5);
                padding: 5px 10px;
                &_Heading {
                  font-size: 12px;
                  font-weight: 600;
                  color: $color-gray;
                  padding: 5px 10px;
                }
                &_Item {
                  display: block;
                  padding: 5px 15px;
                  margin: 5px 0;
                  & span {
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 10px;
                  }
                  & span.Success {
                    background-color: rgba(0,172, 105, .2);
                    color: $success;
                  }
                  & span.Primary {
                    background-color: rgba(0, 97, 242, .2);
                    color: $primary;
                  }
                  & span.Warning {
                    background-color: rgba(244, 161, 0, .2);
                    color: $warning;
                  }
                  & span.Secondary {
                    background-color: rgba(105, 0, 199, .2);
                    color: $secondary;
                  }

                }
              }
            }
          }
          &_Body {
            padding: 1.375rem;
            &_Container {

              &_Item {
                display: flex;
                &_Time {
                  display: flex;
                  justify-content: space-between;
                  transform: translateX(10px);
                  .Time {
                    width: 3rem;
                    font-size: 0.7rem;
                    margin-right: 0.5rem;
                    color: rgba(105, 112, 122, 0.6);
                  }

                  .Dot {
                    height: 0.875rem;
                    width: 0.875rem;
                    border: 0.125rem solid #fff;
                    border-radius: 50%;
                    margin-top: -0.125rem;
                  }
                }
                &_Desc {
                  border-left: 7px solid #f0f4fa;
                  font-size: 14px;
                  padding: 0 0 1rem 1.5rem;
                  line-height: 1.5;
                  color: #69707A;
                }
                &:last-child {
                  .DB_Recent_Body_Container_Item_Desc {
                    border-left:  7px solid transparent;
                  }
                }
              }
            }
          }
        }

        .DB_Tracker {
          position: relative;
          height: 100%;
          &_Header {
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 9px 1.375rem;
            border-bottom: 1px solid rgba(129, 129, 129, .5);
            &_Title {
              font-weight: 500;
              color: $primary;
            }
            &_Btn:hover {
              background-color: #eef2f8;
            }
            &_Btn {
              position: relative;
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              background-color: transparent;
              border: none;
              cursor: pointer;
              &_Popup {
                position: absolute;
                right: 0;
                top: 55px;
                width: 160px;
                border-radius: 5px;
                text-align: left;
                background-color: white;
                box-shadow: 1.5px 1.5px 3.5px -0.5px  rgba(0, 0, 0, 0.5);
                padding: 5px 10px;
                &_Heading {
                  font-size: 12px;
                  font-weight: 600;
                  color: $color-gray;
                  padding: 5px 10px;
                }
                &_Item {
                  display: block;
                  padding: 5px 15px;
                  margin: 5px 0;
                  .Title {
                    border-radius: 5px;
                    white-space: nowrap;
                    font-size: 14px;
                  }
                  .Icon {
                    margin-right: 5px;
                    border-radius: 5px;
                    white-space: nowrap;
                    font-size: 14px;
                  }
                }
              }
            }
          }
          &_Body {
            padding: 1.35rem;
            &_Container {
              width: 100%;
              &_Title {
                font-size: 0.875rem;
                margin-bottom: .5rem;
                font-weight: 500;
                .Percent {
                  float: right;
                }
              }
              &_Value {
                margin-bottom: 1.5rem;
                overflow: hidden;
                height: 1rem;
                border-radius: 5px;
                background-color: #e0e5ec;
                .Progress {
                  height: 100%;
                }
              }
            }
          }
          &_Footer {
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 9px 1.375rem;
            border-top: 1px solid rgba(129, 129, 129, .5);
            cursor: pointer;
            &_Title {
              font-weight: 500;
              font-size: 0.875em;
              color: $color-gray;
            }

            &_Btn {
              width: 2.5rem;
              height: 2.5rem;
              background-color: transparent;
              border: none;
              cursor: pointer;
            }
          }
          &_Footer:hover {
            & a {
              text-decoration: underline;
              text-underline-offset: 2px;
            }
          }
        }
      }
    }
  }

  &_Card {
    width: 100%;
    padding: 0 1.5rem;
    &_Container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      &_Item {
        border-radius: 5px;
        margin-bottom: 1.5rem;
        .Card {
          box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
          color: white;
          border-radius: 5px;
          overflow: hidden;
          &_Body {
          padding: 22px;
            &_Content {
              display: flex;
              align-items: center;
              justify-content: space-between;
              &_Left {
                line-height: 1.5;
                &_Heading {
                  font-size: 14px;
                  color: rgba(255, 255, 191, .7);
                }
                &_Desc {
                  font-size: 20px;
                  color: white;
                }
              }
              &_Right {

              }
            }
          }
          &_Footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.35rem;
            background-color: rgba(0, 0, 0, 0.05);
            line-height: 1.5;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            &_Text {
              color: white;
              font-size: 14px;
            }
            &_Icon {

            }
          }
          &_Footer:hover {
            & a{
              text-decoration: underline;
              text-underline-offset: 2px;
            }
          }
        }
        .Card.Primary {
          background-color: $primary;
        }
        .Card.Warning {
          background-color: $warning;
        }
        .Card.Success {
          background-color: $success;
        }
        .Card.Danger {
          background-color: $danger;
        }
      }
    }
  }

  &_Chart {
    padding: 0 24px;
    &_Container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      &_Item {
        width: 100%;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 1.5rem;
        &_Header {
          display: flex;
          justify-content: space-between;
          padding: 9px 22px;
          align-items: center;
          background-color: #f8f8f9;
          border-bottom: 1px solid #dddee0;
          .Title {
            font-size: 1rem;
            color: $primary;
          }
          .Icon {
            width: 44px;
            display: flex;
            height: 44px;
            align-items: center;
            justify-content: center;
          }
        }

        &_Body {
          padding: 1.35rem;
          .Chart {

          }
        }
      }
    }
  }
}
.Info {
  background-color: $info;
}
