$body-font-size: 1rem;
$body-font-weight: 400;
$body-color: #6c6e75;
$body-bg: #f2f6fc;
$border-width: 1px;
$border-color: #e0e5ec;
$border-color-translucent: rgba(0, 0, 0, 0.175);
$border-radius: 0.35rem;
$link-color: #0061f2;
$link-hover-color: #004ec2;
$code-color: #e30059;
$highlight-bg: #fdeccc;
$primary: #0061f2;
$success: #00ac69;
$info: #00cfd5;
$secondary: #6900c7;
$warning: #f4a100;
$danger: #e81500;
$color-gray: #8f8f8f;

@import "../src/components/Header/Header.scss";
@import "../src/components/Sidebar/Sidebar.scss";
@import "../src/components/Dashboard/Dashboard.scss";

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Metropolis', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.layout {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e9f0;
  &__container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }
}

@keyframes fade-in {
  from {
    top: 4.5rem;
    opacity: 0.5;
  }

  to {
    top: 55px;
    opacity: 1;
  }
}
.Primary {
  background-color: $primary;
}
.Danger {
  background-color:$danger;
}
.Warning {
  background-color: $warning;
}
.Success {
  background-color: $success;
}
.Secondary {
  background-color: $secondary;
}

.Twenty {
  width: 20%;
}
.Forty {
  width: 40%;
}
.Sixty {
  width: 60%;
}
.Eighty {
  width: 80%;
}
.One-Hundred {
  width: 100%;
}